{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block principal %}
<div class="card bg-dark text-white">
    <div class="card-header">
        Registro de empleados
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Registrarse">
                    </div>
                    <div class="form-group mt-2">
                        <small class="text-muted">¿Olvidaste tu contraseña? <a href="{% url 'reset_password' %}">¡Crea una nueva!</a></small>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}