body {
    font-family: 'Montserrat', sans-serif;
}

.subscription-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.card-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e5e5e5;
}

.card-title {
    margin-bottom: 0;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.card-body ul li {
    color: #000000; /* Color más oscuro para los elementos de lista */
}